.intro_title{
   font-family: "Montserrat", sans-serif;
   font-size: 40px;
   font-weight: 500;
   margin-top:5%;
   text-align: right;
   margin-right: 56px;
   text-decoration-line: underline;
}

.meun_list{
   text-align: center;
   word-spacing: 60px;
   margin-top: 3%;
}

.meun_list a {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 20px;
   text-decoration: none;
   color:black;
}

.image{
   display: flex;
   width: 100%;
   padding: 4% 2%;
   box-sizing: border-box;
   height: 70vh;
}

.box{
   flex: 1;
   overflow: hidden;
   transition:  .5s;
   margin: 0 2%;
   margin-top: -40px;
   box-shadow: 0 20px 30px rgba(0,0,0,.1);
   line-height: 0;
}

.box > img {
   width: 200%;
   height: calc(200% - 10vh);
   object-fit: cover;
   transition: .5s;
}

.box:hover {flex: 1 1 50%;}
.box:hover > img {
   width: 100%;
   height: 100%;
}

.main{
   margin-top:30%;
}

.main_title{
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   text-align: left;
   font-size: 100px;
   margin-left: 50px;
   text-decoration-line: underline;

}

.main_section{
   text-align: left;
   margin-top: 10%;
   margin-left: 55px;
}

.main_section h2{
   font-family: "Montserrat", sans-serif;
   font-size: 55px;
   font-weight: 700;
   animation: slideRight 1s ease-in-out forwards;
   transform: translateX(-50%);
   opacity: 0;
   transition: .8s;
}

.main_section h2.active{
   transform: translateX(0);
   opacity: 1
}

.main_planner{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

.planner_box{
   display: flex;
   align-items: center;
   justify-content: center;
   background: #008aff;
   border-radius: 10px;
   width: 700px;
   height: 600px;
   float: right;
   margin-top: -25%;
   margin-right: 40px;
}

.wrapper{
   width: 450px;
   background: #fff;
   border-radius: 10px;
   padding: 25px;

}

.wrapper .nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 30px;
}

.wrapper .nav .current-date {
   font-size: 24px;
   font-weight: 600;
}

button {
   /* button 요소에 기본적으로 설정되는 스타일 속성 초기화 */
   border: none;
   outline: none;
   background-color: transparent;
   padding: 0;
   cursor: pointer;
 }

.header .nav .button{
   width: 38px;
   height: 38px;
   font-size: 30px;
   color: #878787;
}

.header .nav button:hover{
   background: #f2f2f2;
}

.calendar ul{
   display: flex;
   list-style: none;
   flex-wrap: wrap;
   text-align: center;
   margin-right: 40px;
}

.calendar .weeks li{
   font-weight:  500;
}

.calendar .days{
   margin-bottom: 20px;
}

.calendar ul li {
   width: calc(100% / 7);
   position: relative;
}

.calendar .days li{
   z-index: 1;
   margin-top:  30px;
   cursor: pointer;
}

.days li.inactive {
   color: #aaa;
}

.days li.active{
   color: #fff;
}

.calendar .days li::before {
   position: absolute;
   content: '';
   height: 40px;
   width: 40px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   z-index: -1;
}

.days li:hover::before {
   background: #f2f2f2;
}
.days li.active::before{
   background: #008aff;
}


.contact_title{
   font-family: "Montserrat", sans-serif;
   font-size: 100px;
   font-weight: 700;
   text-align: right;
   margin-top: 30%;
   margin-right:90px;
   text-decoration-line: underline;
}

.contact_text{
   background-color: black;
}

.contact_text p {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   text-align: center;
   color:white;
   font-size: 20px;
   line-height: 60px;
}


