.intro_title{
   font-family: "Montserrat", sans-serif;
   font-size: 40px;
   font-weight: 500;
   margin-top:5%;
   text-align: right;
   margin-right: 56px;
   text-decoration-line: underline;
}

@media(max-width:700px){
   .intro_title{
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 500;
      margin-top:1%;
      text-align: right;
      margin-right: 20px;
      text-decoration-line: underline;
   }
}

.meun_list{
   text-align: center;
   word-spacing: 60px;
   margin-top: 3%;
}

@media(max-width:700px){
   .meun_list{
      text-align: center;
      word-spacing: 10px;
      margin-top: 3%;
   }
}

.meun_list a {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 20px;
   text-decoration: none;
   color:black;
}

@media(max-width:700px){
   .meun_list a {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 10px;
      text-decoration: none;
      color:black;
   }
}

.image{
   display: flex;
   width: 100%;
   padding: 4% 2%;
   box-sizing: border-box;
   height: 70vh;
}

@media(max-width:700px){
   .image{
      display: flex;
      width: 100%;
      padding: 4% 2%;
      box-sizing: border-box;
      height: 40vh;
   }
}

.box{
   flex: 1;
   overflow: hidden;
   transition:  .5s;
   margin: 0 2%;
   margin-top: -40px;
   box-shadow: 0 20px 30px rgba(0,0,0,.1);
   line-height: 0;
}

@media(max-width:700px){
   .box{
      flex: 1;
      overflow: hidden;
      transition:  .5s;
      margin: 0 2%;
      margin-top: -20px;
      box-shadow: 0 20px 30px rgba(0,0,0,.1);
      line-height: 0;
   }
}

.box > img {
   width: 200%;
   height: calc(200% - 10vh);
   object-fit: cover;
   transition: .5s;
}

.box:hover {flex: 1 1 50%;}
.box:hover > img {
   width: 100%;
   height: 100%;
}

.main{
   margin-top:50%;
}

.main_title{
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   text-align: left;
   font-size: 100px;
   margin-left: 50px;
   text-decoration-line: underline;
}

@media(max-width:700px){
   .main_title{
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      text-align: left;
      font-size: 45px;
      margin-left: 20px;
      text-decoration-line: underline;
   }
}

.main_section{
   text-align: left;
   margin-top: 10%;
   margin-left: 55px;
}

@media(max-width:700px){
   .main_section{
      text-align: left;
      margin-top: 4%;
      margin-left: 20px;
   }
}

.main_section h2{
   font-family: "Montserrat", sans-serif;
   font-size: 55px;
   font-weight: 700;
   animation: slideRight 1s ease-in-out forwards;
   transform: translateX(-50%);
   opacity: 0;
   transition: .8s;
}

@media(max-width:700px){
   .main_section h2{
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      font-weight: 700;
      animation: slideRight 1s ease-in-out forwards;
      transform: translateX(-50%);
      opacity: 0;
      transition: .8s;
   }
}

.main_section h2.active{
   transform: translateX(0);
   opacity: 1
}

.main_planner{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

.planner_box{
   display: flex;
   align-items: center;
   justify-content: center;
   background: #008aff;
   border-radius: 10px;
   width: 700px;
   height: 600px;
   float: right;
   margin-top: -25%;
   margin-right: 40px;
}

@media(max-width:700px){
   .planner_box{
      display: flex;
      align-items: center;
      justify-content: center;
      background: #008aff;
      border-radius: 10px;
      width: 350px;
      height: 400px;
      float: right;
      margin-top: -3%;
      margin-right: 1px;
   }
}

.wrapper{
   width: 450px;
   background: #fff;
   border-radius: 10px;
   padding: 25px;

}

@media(max-width:700px){
   .wrapper{
      width: 280px;
      height: 300px;
      background: #fff;
      border-radius: 10px;
      padding: 25px;
   
   }
}

.wrapper .nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 30px;
}

@media(max-width:700px){
   .wrapper .nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: -25px;
   }
}

.wrapper .nav .current-date {
   font-size: 24px;
   font-weight: 600;
}

@media(max-width:700px){
   .wrapper .nav .current-date {
      font-size: 18px;
      font-weight: 600;
      margin-top:15px;
   }
   
}

button {
   /* button 요소에 기본적으로 설정되는 스타일 속성 초기화 */
   border: none;
   outline: none;
   background-color: transparent;
   padding: 0;
   cursor: pointer;
 }

.header .nav .button{
   width: 38px;
   height: 38px;
   font-size: 30px;
   color: #878787;
}

.header .nav button:hover{
   background: #f2f2f2;
}

.calendar ul{
   display: flex;
   list-style: none;
   flex-wrap: wrap;
   text-align: center;
   margin-right: 40px;
}


.calendar .weeks li{
   font-weight:  500;
}


.calendar .days{
   margin-bottom: 20px;
}

.calendar ul li {
   width: calc(100% / 7);
   position: relative;
}

@media(max-width:700px){
   .calendar ul li {
      width: calc(100% / 7);
      position: relative;
      word-spacing: 30px;
   }
}

@media(max-width:700px){
   .calendar .weeks {
      font-size: 13px;
   }
}

.calendar .days li{
   z-index: 1;
   margin-top:  30px;
   cursor: pointer;
}

@media(max-width:700px){
   .calendar .days li{
      z-index: 1;
      margin-top: 15px;
      cursor: pointer;
   }
}


.days li.inactive {
   color: #aaa;
}

.days li.active{
   color: #fff;
}

.calendar .days li::before {
   position: absolute;
   content: '';
   height: 40px;
   width: 40px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   z-index: -1;
}

.days li:hover::before {
   background: #f2f2f2;
}
.days li:active::before{
   background: #008aff;
}


.contact_title{
   font-family: "Montserrat", sans-serif;
   font-size: 100px;
   font-weight: 700;
   text-align: right;
   margin-top: 30%;
   margin-right:30px;
   text-decoration-line: underline;
}

@media(max-width:700px){
   .contact_title{
      font-family: "Montserrat", sans-serif;
      font-size: 45px;
      font-weight: 700;
      text-align: right;
      margin-top: 40%;
      margin-right:10px;
      text-decoration-line: underline;
   }
}

.contact_text{
   background-color: black;
}

@media(max-width:700px){
   .contact_text{
      background-color: black;
      margin-top: 10px;
      height: 60px;
   }
}

.contact_text p {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   text-align: center;
   color:white;
   font-size: 20px;
   line-height: 60px;
}

@media(max-width:700px){
   .contact_text p {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      text-align: center;
      color:white;
      font-size: 12px;
      line-height: 30px;
   }
}


