<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/scss/user.css"> 
    <!--<link rel="stylesheet" href="/scss/user.css"> --> 
    <title>Login</title>
</head>
<body>
    <hr> 
        <div class="Login_box">
          <div class="Login_section">
            <div class="Login_text">
                <h2>
                    로그인이 필요합니다
                </h2>
                <p>
                    아직 회원이 아니세요?<br>
                    회원가입을 통해 다양한 서비스를 즐겨보세요!
                </p>
               <div class="Login_input">
                 <input type="text" placeholder="아이디"/><br>
                 <input type="password" placeholder="비밀번호"/>
               </div> 

               <div class="Login_button">
                <button>로그인</button>
               </div>

            </div>
          </div>

        <div class="signup_section">
          <div class="signup_img">
           <img src="../img/seoul.jpeg"/>
          </div>
        </div>
      </div>

    <!-- <link rel="stylesheet" href="../static/js/login.js"> -->
</body>
</html>