@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import "../reactionStyle/mixin";

$textColor:white;
$backColor:#f6f5f7;

@include desktop{

body {
    overflow: hidden;
    font-family: sans-serif;
    background-color: $backColor;
}

.wrap {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-wrap {
    width: 60%;
    height: 60%;
    border-radius: 30px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    margin-top:8%;
}

.button-wrap {
    width: 230px;
    margin-top: 4%;
    margin-left: 580px;
    position: relative;
    border-radius: 30px;
    border:5px;
}

.togglebtn {
	text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    border-radius: 30px;
    width: 95px;
    margin-top: 18%;
    height: 10%;
    outline:invert;
    transition: .5s;
}

.image{
    img{
        margin-top: -15%;
        margin-left: -1%;
        width: 450px;
        height: 500px;
    }
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    margin-left: 500px;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border:2px solid #999;
    outline: none;    
}

.submit {
    width: 88%;
    color: $textColor;
    padding: 10px 30px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    display: block;
    background-color: black; 
    border: 0;
    outline: none;
}

.checkbox {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 550px;
}

#register {
    margin-top: -6%;
    left: -550px;
}
}


@include mobile{
    body {
        overflow: hidden;
        font-family: sans-serif;
        background-color: $backColor;
    }
    
    .wrap {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        position: absolute;
    }
    
    .form-wrap {
        width: 60%;
        height: 60%;
        border-radius: 30px;
        position: relative;
        margin: 6% auto;
        background: #fff;
        padding: 5px;
        overflow: hidden;
        margin-top:8%;
    }
    
    .button-wrap {
        width: 230px;
        margin-top: 4%;
        margin-left: 35px;
        position: relative;
        border-radius: 30px;
        border:5px;
    }
    
    .togglebtn {
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 2px;
        font-weight: 800;
        padding: 15px;
        cursor: pointer;
        background: transparent;
        border: 0;
        outline: none;
        position: relative;
    }
    
    #btn {
        top: 0;
        left: 0;
        position: absolute;
        background-color: black;
        width: 60px;
        margin-top: 13%;
        border-radius: 30px;
        height: 5%;
        outline:invert;
        transition: .5s;
    }
    
    .image{
        img{
            margin-top: 110%;
            margin-left: -3%;
            width: 215px;
            height: 180px;
        }
    }
    
    .input-group {
        top: 100px;
        position: absolute;
        width: 280px;
        transition: .5s;
    }
    
    .input-field {
        width: 60%;
        height: 20%;
        margin-top:3%;
        padding: 2px 0;
        margin: 5px 0;
        border:2px solid #999;
        border-radius: 30px;
        outline: none;
        font-size: 10px;
    }
    
    .submit {
        margin-top: 10%;
        margin-left: 15%;
        width: 30%;
        color: $textColor;
        cursor: pointer;
        display: block;
        background-color: black; 
        border: 0;
        outline: none;
    }
    
    .checkbox {
        margin: 30px 10px 30px 0;
    }
    
    span {
        color: #777;
        font-size: 12px;
        bottom: 68px;
        position: absolute;
    }
    
    #login {
        left: 20px;
    }
    
    #register {
        margin-top: -6%;
        left: -550px;
    }
}